<!DOCTYPE html>
{% extends 'users/base.html'%}
{% load static %}
<html lang="en">
{% block body %}

<body style="background-color:white;margin-top: 60px;">

    <div class="login-page" style="padding:80px;margin-top: 30px;margin-bottom: 30px;">
            <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
               
            <h4 class="display-4">Password reset complete</h4>
            <br><br>
            
            <p style="font-size:25px;">Your password has been set. You may go ahead and log in now.</p>
            <br>
            <a href="/login" class="login_btn">Log in</a>
    </div>   



{% endblock %}
